accelerate==1.7.0
datasets==3.6.0
evaluate==0.4.5
icecream==2.1.4
matplotlib==3.10.3
nltk==3.9.1
numpy==2.3.1
pandas==2.2.3
pytest==8.3.5
PyYAML==6.0.2
requests==2.32.4
scikit-learn==1.6.1
scipy==1.16.0
torch==2.7.1
transformers==4.54.1
wordfreq==3.0.2
